<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WhatsappChat</title>
  <link href='https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css' rel='stylesheet' />
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>
  <main>

    <div class="left">
      <div class="top">
        <div class="user">
          <img src="<%= user.profileImage %>" alt="">
          <h1>
            <%= user.username %>
          </h1>
        </div>
      </div>

      <div class="bottom">
        <div class="users">

        </div>
      </div>
    </div>
    <div class="right">
      <div class="topUser">
        <div class="user">
          <img
            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fG1vZGVsc3xlbnwwfHwwfHx8MA%3D%3D"
            alt="">
          <div class="text">
            <h1>Username</h1>
            <small>Active now</small>
          </div>
        </div>
      </div>
      <div class="conversation">
        <div class="messages">
          
        </div>

        <div class="inputs">
          <input type="text" placeholder="Write your message">
          <button><i class="ri-send-plane-line"></i></button>
        </div>
      </div>
    </div>

  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
    integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    var user = "<%= user.username %>"
    let receiver = null
    let receiverImage = null

    socket.emit('join', user)

    // getOnlineUser axios
    axios.get('/getOnlineUser').then((response) => {
      response.data.onlineUsers.forEach((onlineUser) => {
        appendNewChat(onlineUser.profileImage, onlineUser.username)
      });
    }).catch((err) => {
      console.log(err)
    });

    // appendOutGoingMessages
    function appendOutGoingMessage(message) {
      const messageTemplate = `
      <div class="message">
            <p>${message}</p>
          </div> `
      const messages = document.querySelector('.messages')
      const input = document.querySelector('.inputs input')
      messages.innerHTML += messageTemplate
      input.value = ""
    }

    // outGoingMessages
    const button = document.querySelector('.inputs button')
    button.addEventListener('click', () => {
      const input = document.querySelector('.inputs input')
      const messages = document.querySelector('.messages')
      const message = input.value
      appendOutGoingMessage(message)

      socket.emit("sony", {
        sender: user,
        receiver: receiver,
        text: message
      })
    })

    //  max
    socket.on("max", (messagePacket) => {
      console.log(messagePacket)
      if (messagePacket.sender.username == receiver)
        appendIncomingMessage(messagePacket.sender.profileImage, messagePacket.text)
    })

    // appendIncomingMessages
    function appendIncomingMessage(userImage, message) {
      const messages = document.querySelector('.messages')
      const messageTemplate = `
      <div class="message">
            <img src="${userImage}" alt="">
            <p>${message}</p>
      </div>`
      messages.innerHTML += messageTemplate
    }

    // newChat 
    function appendNewChat(userImage, username) {
      const users = document.querySelector('.left .users')
      const userTemplate = `
       <div onClick="openChat('${userImage}', '${username}')" class="user">
            <img src="${userImage}" alt="">
            <h1>${username}</h1>
        </div>`
      users.innerHTML += userTemplate
    }

    // openChat 
    function openChat(userImage, username) {
      receiver = username
      receiverImage = userImage
      const right = document.querySelector(".right")
      const topUserImage = document.querySelector(".topUser .user img")
      const topUserText = document.querySelector(".topUser .user .text")

      right.style.display = "flex"
      topUserImage.src = userImage
      topUserText.textContent = username
      axios.get(`/getMessage?receiver=${receiver}`).then((response) => {
        console.log(response)
        response.data.message.forEach((message) => {
          if (message.sender == user) {
            appendOutGoingMessage(message.text)
          }
          else {
            appendIncomingMessage(receiverImage, message.text)
          }
        })
      })
    }

  </script>
</body>

</html>

